.row
  .span6
    .well
      = image_tag @document.image
      %p
        = @document.title
      %p
        = @document.user.name

      - if current_user == @document.user
        #{link_to 'Edit', edit_document_path(@document)} | #{link_to 'Back', documents_path}
