.masthead
  %ul.nav.nav-pills.pull-right
    - if user_signed_in?
      %li.active
        = link_to "Documents", "documents#index"
      %li= link_to "Account", edit_user_registration_path
      %li= link_to "Logout", destroy_user_session_path, method: :delete
    - else
      %li= link_to "Create Account", new_user_registration_path
      %li= link_to "Login", new_user_session_path
  %h3
    = link_to "PrintToOld", root_path
%hr