!!!
%html
  %head
    %title PrintToOld
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-narrow
      = render 'layouts/header'
      - flash.each do |name, msg|
        = content_tag(:div, msg, class: "alert alert-#{name}")
      = yield
      = render 'layouts/footer'